{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ figure.name }}</h1>

    <p>{{ figure.description }}</p>
    <p>{{ figure.figureGroup }}</p>
</div>
{% endblock %}
